<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form>
      <label for="title">Nombre del Dojo</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Descripcion del Dojo</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Detalles e historia sobre el Dojo</label>
      <textarea id="body" name="body" required></textarea>
      <button>Enviar</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>