<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Ninja</h1></a>
      <p>Un Sitio Sobre Ninjas</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">Sobre</a></li>
      <li><a href="/blogs/create">Nuevos Dojos</a></li>
    </ul>
  </nav>