<nav>
  <div class="site-title">
    <a href="/"><h1>Blog sobre Ninjas</h1></a>
    <p>Un Sitio Sobre Ninjas y para Ninjas</p>
  </div>
  <ul>
    <li><a href="/">Dojos</a></li>
    <li><a href="/about">Sobre Ninjas</a></li>
    <li><a href="/blogs/create">New Dojo</a></li>
  </ul>
</nav>