<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Ninjas</h2>
    <p>Espacio reservado para las historias sobre ninjas</p>
    <p>Espacio reservado para leyendas ninjas</p>
    <p>Espacio para otras cosas</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>