<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratorio 11</title>
<body>
    <h1 id="h1" style="color: gold;">Datos de Información</h1>
    <article>Nombre: Jaime López Hernández</article>
    <article>Matrícula: A00571842</article>
    <article>Correo electrónico: A00571842@tec.mx</article>

    <% const name ='mario'%>
    <nav>
        <div class="site-title">
            <p><%= name  %></p>
            <a href="/"><h1>Un Blog sobre Ninjas</h1></a>
            <p>Sitio Oficial para todos los ninjas</p>
        </div>
        <ul>

            <li><a href="/about">Sobre los Ninjas</a></li>
            <li><a href="/dojos">Registrar Dojos Para Ninjas</a></li>
            <li><a href="/hogares">Hogares de los Ninjas</a></li>
        </ul>
    </nav>
    
</body>
</html>