<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Sobre los ninjas</h2>
    <p>Ninjas Clase A</p>
    <p>Ninjas Clase B</p>
    <p>Ninjas Clase C</p>
    <br>
    <p>¿Qué beneficios encuentras en el estilo MVC?</p>
    <p>Separación clara de dónde tiene que ir cada tipo de lógica, facilitando el mantenimiento y la escalabilidad de nuestra aplicación.
      Sencillez para crear distintas representaciones de los mismos datos.</p>
      <br>
      <p>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</p>
      <p>  Tener que apegarse a una estructura predefinida, lo que a veces puede incrementar la complejidad del sistema. Hay problemas que son más difíciles de resolver respetando el patrón MVC.
        ·         La curva de aprendizaje para las personas sin experiencia suele ser mucho mayor  que la de modelos más simples como Webforms.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>